@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #FAFAFA;
  color: #111827;
  font-feature-settings: "ss01", "tnum";
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}
